{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="main-img">
  <h1 class="Title py-5">IP Addres s Tracker</h1>

  <div class="container">
    <form class="form">
      <input class="input" id="IP" name="IP" type="text" placeholder="Search for any IP address domain">
      <button id="btn" type="submit" class="btn"><img src="{% static 'img/icon-arrow.svg' %}"></button> <br>
      {% if messages %}
        {% for message in messages %}
          <div id="error-ip" class="alert alert-danger {{ message.tags }}" role="alert">
            <p>{{ message }}</p>  
          </div>
        {% endfor %}
      {% endif %}
    </form>

    <div class="box mt-5">
      <div class="box__item">
        <ul>
          <li id="cont-ip">IP Address</li>
          <li class="py-2"><strong>{{ query }}</strong></li>
        </ul>
      </div>
      <div class="box__item">
        <ul>
          <li>Location</li>
          <li class="py-2"><strong>{{ country }}</strong></li>
        </ul>
      </div>
      <div class="box__item">
        <ul>
          <li>Timezone</li>
          <li class="py-2"><strong>{{ timezone }}</strong></li>
        </ul>
      </div>

      <div class="box__item">
        <ul>
          <li>ISP</li>
          <li class="py-2"><strong>{{ isp }}</strong></li>
        </ul>
      </div>

    </div>

  </div>
</header>

<div id="map"></div>

<footer>
  <div class="footer">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a target="_blank" href="https://www.github.com/neldis93">Neldis93</a>.
  </div>

</footer>


{% endblock content %}


{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap&libraries=&v=weekly"defer></script>
<script>
function initMap() {
    var lat={{ lat|safe }};
    var lng={{ lon|safe }};
    console.log(coord)
    var coord = {lat: lat , lng: lng};
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 10,
      center: coord
    });
    var marker = new google.maps.Marker({
      position: coord,
      map: map
    });
  }
</script>


{% endblock js %}